<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syne">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Links website</title>
      <style>
      
      body {
      font-family: 'Syne', sans-serif; 
      background-color: #074718;
          }
      
      .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      
      .image-container {
        text-align: center;
        width: 100%;
      }
      .fcc-btn {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}p {text-align: center;}
      
      .links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
     
      
      </style>
    </head>
  
  
    <body class="w3-white">
      
     
      <div class="image-container">
      <img src="https://play-lh.googleusercontent.com/009hpXoLRxULWBEF8VsHnNTjFrOQVFKfkQfIxZcDGWtVSZEU5mKtSJyy3Zv3pxVcZQ" class="w3-margin" alt="Person" max-width="100%" height="150px" style="border-radius: 50%;">
     
     
     

       <div class="w3-margin">
       <h2 class="w3-text-black"><strong>Regras</strong></h2>
       
       </div>
  
      
      <div class="links-container">
        <font size="4">Blackjack ou Vinte-e-um é um jogo praticado com cartas em casinos e que pode ser jogado com 1 a 8 baralhos de 52 cartas, em que o objetivo é ter mais pontos do que o adversário, mas sem ultrapassar os 21 (caso em que se perde). O dealer só pode pedir até um máximo de 5 cartas ou até chegar ao número 17</font>  
        <h1 class="w3-text-black">Objetivo</h1>
        <font size="4">A mão mais elevada no blackjack é um Ás e uma carta de 10 pontos e é chamada justamente de blackjack. Um blackjack paga 3 para 2 da aposta ou 6 para 5 no caso do vegas strip. Se o jogador e o dealer (a banca ou casino) tiverem um blackjack a aposta é um empate. O jogador ganha se a sua mão tiver mais pontos que a do dealer, sem ir acima de 21. Assim uma mão de 21 pontos é a mais elevada e é por isso que o jogo é chamado às vezes de 21. Se o jogador ou o dealer forem acima de 21 perde automaticamente. </font>
         <h1 class="w3-text-black">Rodada</h1>
         <font size="4">Um círculo do blackjack começa com cada jogador que coloca uma aposta no círculo ou na frente dele. Então o dealer dará a cada jogador e a ele mesmo duas cartas. As cartas do jogador são geralmente de face para cima. Uma carta do dealer é de face para cima (ascendente) e a outra de cara para baixo (a carta do furo). Se o dealer tiver um dez ou um Ás na carta ascendente é possível ele ter um blackjack. Nesse caso todas as mãos dos jogadores perderão exceto contra outro blackjack. Nos Estados Unidos o dealer verificará para ver se há o blackjack imediatamente se um for possível e irá recolher todas as apostas perdendo imediatamente se tiver um blackjack.[7]

Exemplo de situação de jogo.
No caso de o dealer ter um Ás no cartão ascendente ele permitirá que os jogadores segurem as suas mãos contra um blackjack. A aposta do seguro no blackjack paga 2:1 se o negociante tiver um blackjack. Depois que todos os jogadores tiveram uma possibilidade para aceitar ou recusar o seguro o dealer verificará o cartão do furo.[8]
Depois que se estabeleceu que o dealer não tem um blackjack o jogador por sua vez pode jogar suas mãos.
Depois que todos os jogadores jogaram suas mãos, da esquerda do dealer à direita, o dealer jogará sua mão. O dealer não tem nenhuma vontade livre mas deve sempre jogar por determinadas regras da casa. Geralmente a regra é que o dealer deve bater até que alcance uma contagem de 17 ou mais. Alguns casinos estipulam que se o dealer tiver 17 macios, consistindo num Ás e todo o número de cartas que totalizam 6, deve também bater. Se o dealer rebentar, todos os jogadores que não rebentaram automaticamente ganham. </font>
          <h1 class="w3-text-black">Jogadas</h1>
          <font size="4">Stand (parar): Se o jogador está satisfeito com sua mão e não quer pedir mais cartas.
Hit ("acertar" o jogador com mais cartas): Se o jogador desejar mais uma carta.
Dobrar: Se o jogador sentir que necessita de uma e somente uma carta adicional, então pode dobrar sua aposta e receber mais uma carta, boa ou ruim. Esta opção é oferecida somente nas duas primeiras cartas, e às vezes nas duas primeiras cartas após dividir (split).
Split (dividir): Se as primeiras duas cartas do jogador forem de mesmo valor em pontos, ele pode dividi-las em duas mãos. Neste evento cada carta é a primeira carta de uma mão nova. O jogador deve também fazer uma outra aposta do valor igual à primeira para a segunda mão. O jogador pode geralmente dividir até duas ou três vezes consecutivas se aparecer a oportunidade. Dobrar após dividir pode ser permitido, mas nem sempre é o caso.
Surrender (rendição): Finalmente, alguns cassinos oferecem ao jogador a opção de rendição nas primeiras duas cartas. Se o jogador não gostar das suas cartas pode perder metade da aposta assim como suas cartas. Esta opção geralmente é oferecida somente depois que o negociante verifica para ver se há o blackjack, conhecido como "a rendição atrasada." </font>
         <h1 class="w3-text-black">Cartas</h1>
          <p><font size="4"><b> Ás-</b>1 ou 11 pontos se estiver na mesma mão um Valete, uma Rainha ou um Rei</font></p>
         <p> <font size="4"><b> 10,Valete,Rainha e Rei -</b>10 pontos</font></p>
         <p><font size="4"><b> De 2 a 10 -</b>O valor indicado na carta</font></p>
         <a class="fcc-btn" href="C:\Users\joao.vidal\Documents\jogoBlackjack\index.html">Voltar</a>  
        
        
      </div>
  
        
  
      
  
    </body>  
  </html>
  